#lager_panel {
    border: 1px solid grey;
    border-radius: 10px 10px 10px 10px;
    width: 93%;
    height: 85%;
    background-color: white;
    position: fixed;
    opacity: 0.5;
    position: fixed;
    margin-left: 4%;
    margin-top: 1%;
}