#page {
    text-align: center;
}
#login_page {
    margin-top: 10%;
    animation-duration: 0.5s;
    animation-name: fadein;
}
#reg_page {
    display: none;
    margin-top: 10%;
    animation-duration: 0.5s;
    animation-name: fadein;
}

@keyframes fadein {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes fadeout {
    0% { opacity: 1; }
    100% { opacity: 0;}
}


#login_page .txt_input {
    width: 30%;
    height: 50px;
    margin: 10px;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 0px solid #000000;
    padding-left: 15px;
}
#bt_login, #bt_reg {
    background: none;
    background-repeat: no-repeat;
    background-size: cover;
    border: none;
    width: 510px;
    height: 110px;
    margin: 10px;
}
#bt_login {
    background-image: url('/images/bt_login.png');
}
#bt_reg {
    background-image: url('/images/bt_reg.png');
    margin-bottom: 10px;
}
#info_txt {
    color: #6d6d6d;
}
#pw_vergessen {
    color: #6d6d6d;
}
.bt_sign_with {
    background: none;
    background-repeat: no-repeat;
    background-size: cover;
    border: none;
    width: 15%;
    height: 40px;
    margin: 5px;
}
#bt_facebook {
    margin-top: 20px;
    background-image: url('/images/bt_facebook.png');
}
#bt_twitter {
    background-image: url('/images/bt_twitter.png');
}
#bt_google {
    margin-right: 1px;
    background-image: url('/images/bt_google.png');
    margin-bottom: 20px;
}

/* REGISTRIERUNG */
#reg_page .txt_input {
    width: 30%;
    height: 50px;
    margin: 10px;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 0px solid #000000;
    padding-left: 15px;
}
