#page_edit button {
  display: none;
}
#img_err {
  color: red;
}
#page_show, #page_edit {
    border: 1px solid grey;
    border-radius: 10px 10px 10px 10px;
    width: 93%;
    height: 85%;
    background-color: rgba(255,255,255,0.5);
    position: fixed;
    position: fixed;
    margin-left: 4%;
    margin-top: 1%;
}
#profile_bild {
    border: 5px #00cdf4 solid;
    width: 400px;
    height: 400px;
    border-radius: 50%;
}
/* loading animation fuer den upload*/
.bar {
    display: none;
    margin-top: 10px;
    text-align: center;
    width: 100%;
    height: 20px;
    border: 1px solid #2980b9;
    border-radius: 3px;
    background-image:
        repeating-linear-gradient(
            -45deg,
            #2980b9,
            #2980b9 11px,
            #eee 10px,
        #eee 20px /* determines size */
        );
    background-size: 28px 28px;
    animation: move .5s linear infinite;
}

@keyframes move {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 28px 0;
  }
}
