#panel header{
    background-color: #00cdf4;
    color: white;
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 75px;
}
#panel {
    position: fixed;
    left: 0px;
    top: 0px; 
    width: 100%;
    height: 100%;
    background-image: url('/images/bg.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    background-position-y: 75px;
}
#panel h2{
    text-align: center;
}

#menu {
    background-color: black;
}

/* slideout menu */
body {
    width: 100%;
    height: 100%;
}

.slideout-menu {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 0;
    width: 256px;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    display: none;
}

.slideout-panel {
    position: relative;
    z-index: 1;
    will-change: transform;
}

.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
    overflow: hidden;
}

.slideout-open .slideout-menu {
    display: block;
}