#start_scan {
    width: 90%;
    height: 500px;
    margin-top: 200px;
    font-size: 100px;
}
#eingabe_panel {
    display:none;
    position: fixed;
    color: white; 
    width: 90%;
    font-size: 75px;
}
#eingabe_panel input {
    width: 90%;
    height: 100px;
    font-size: 90px;
}
#eingabe_panel button {
    width: 45%;
    height: 100px;
    font-size: 50px;
}
#msg {
    color: blue;
    font-size: 75px;
}
