/* Meldung die einfaded und wieder ausfaded*/
.message {
    display: none;
    position: fixed;
    right: 1%;
    bottom: 4%;
    height: auto;
    width: auto;
    background: white;
    padding: 10px;
    -webkit-box-shadow: 10px 10px 5px -6px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px -6px rgba(0,0,0,0.75);
    -webkit-animation: fadeinout 2s linear forwards;
    animation: fadeinout 2s linear forwards;
}

@-webkit-keyframes fadeinout {
  0%,100% { opacity: 0; }
  50% { opacity: 1; }
}

@keyframes fadeinout {
    0%,100% { opacity: 0; }
    50% { opacity: 1; }
}

#message_img {
    height: 40px;
    width: 40px;
    float: left;
    background-size: contain;
}

#message_txt {
    float: right;
    margin-top: 10px;
    margin-left: 5px;
}
/* Genereller Hintergrund */
body {
    background-color: green;
}

/* Produkt_liste */
aside {
    background-color: grey;
    width: 20%;
    padding: 3px;
    position: fixed;
    top: 100px;
}
table {
    width: 100%;
}
#data_table {
    width: 100%;
    max-height: 500px;
    overflow:scroll;
}
td {
    border: 1px solid darkgreen;
    padding: 10px;
    text-align: left;
    background-color: lightgray;
}
td:hover{
    background-color: darkgrey;
}
#bt_refresh {
    width: 25px;
    height: 25px;
    background-image: url('/images/bt_refresh.png');
    background-size: contain;
}

/* Produkt-Fenster */
#data_fenster {
    background-color: lightgreen;
    float: right;
    width: 50%;
    margin-right: 10%;
    margin-top: 100px;
    padding: 5px;
}
#bt_produkt_safe {
    height: 50px;
    width: 100px;
    margin-top: 10px;
}
#image_vorschau {
    width: 200px;
    height: 200px;
}
#bilder_upload {
    float: right;
    display: grid;
    margin-right: 30px;
}
/* loading animation fuer den upload*/
.bar {
    display: none;
    margin-top: 10px;
    text-align: center;
    width: 100%;
    height: 20px;
    border: 1px solid #2980b9;
    border-radius: 3px;
    background-image: 
        repeating-linear-gradient(
            -45deg,
            #2980b9,
            #2980b9 11px,
            #eee 10px,
        #eee 20px /* determines size */
        );
    background-size: 28px 28px;
    animation: move .5s linear infinite;
}

@keyframes move {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 28px 0;
  }
}