<head>
    <title>Log In</title>
    <link rel="stylesheet" href="/stylesheets/login.css">
</head>
<body>
    <main id="page">
        <div id="login_page">
            <form action="/api/login" method="post">
                <input class="txt_input" type="text" name="email" placeholder="max.mustermann@example.com"><br>
                <input class="txt_input" type="password" name="password" placeholder="password"><br>
                <p id="error">{{err}}</p>
                <input id="bt_login" type="submit" value="">
            </form>
            <button id="bt_reg" onclick="bt_reg()"></button><br>
            <a id="info_txt">Du kannst diesen Schritt überspringen und dich</a><br>
            <button class="bt_sign_with" id="bt_facebook" onclick="fbLogin()"></button><br>
            <button class="bt_sign_with" id="bt_twitter"></button><br>
            <a href="/auth/google"><button class="bt_sign_with" id="bt_google"></button></a> <br>
            <a id="pw_vergessen">Passwort vergessen?</a>
        </div>
        <div id="reg_page">
            <form action="/api/reg" method="post">
                <input class="txt_input" type="email" name="email" placeholder="max.mustermann@example.com" required><br>
                <input class="txt_input" type="password" name="password" id="pw" placeholder="password" required><br>
                <input class="txt_input" type="password" name="pw_rep"  id="pw_rep" placeholder="password" required><br>
                <input  type="submit" value="Registrieren" disabled>
            </form>
            <button onclick="bt_back_login()">Zum Log In</button><br>
            <p id="reg_error">{{err}}</p>
        </div>
    </main>
</body>
<script
  src="https://code.jquery.com/jquery-3.3.1.js"
  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous"></script>
<script src="/javascripts/filters.js"></script>
<script src="/javascripts/login.js"></script>
