<!doctype html>
<html lang="de">
    <head>
        <meta charset="utf-8">
        <title>Startseite</title>
        <link rel="stylesheet" href="/stylesheets/admin/admin.css">
    </head>
    <body>
        <nav id="menu">
            <h2>Menu</h2>
        </nav>

        <main id="panel">
            <header>
                <button class="toggle-button">☰</button>
                <h2>{{title}}</h2>
            </header>
        </main>
        <script src="/javascripts/lib/slideout.min.js"></script>
        <script src="/javascripts/admin/admin.js"></script>
  </body>
</html>